.board{
    height: 350px;
    width: 416px;
    background-color: blue;
    border: 2px; red;
    outline: 2px; red;
    padding: 25px;
    display: flex;
    flex-direction: row;
}
    
.column{
    background-color: lightskyblue;
    height: 300px;
    width: 350px;
    margin: 2px;
    display: flex;
    flex-direction: column-reverse;
    
} 

.square{
    background-color: white;
    height: 48px;
    width: 48px;
}

.piece1{
    background-color: red;


}

.piece2{
    background-color: black;1


}